/* page footer */
body > footer {
	background-image: url('img/footer-bg.jpg');
	background-repeat: repeat-x;
	position: relative;
	bottom: 46px;
	padding-top: 46px;
	z-index: -1;
}
body > footer .footer-wrapper {
	width: @pagewidth;
	margin: 0 auto;

}
body > footer .footer-wrapper section{
	width: @footer-column;
	display: inline-block;
}
body > footer .footer-wrapper #footer-stamp{
	width: @footer-column;
	height: 103px;
	position: relative;
	left: 2 * @footer-column;
	background-color: @main-beige;
}