/* main */
#main {
	width: @left-column;
	background-color: @main-beige;
	margin: 31px 0 0 0;
	display: inline-block;
	padding: 23px 0 44px 0;
}
#main > article {
	margin-bottom: 36px;
}
#main > article footer > section,
#main > article footer > div,
#main > article footer > span {
	text-align: right;
}

#main > article footer {
	height: 100%;
	width: @article-footer-width;
	float: left;

	padding-right: 15px;
	padding-left: 20px;
	margin-top: 57px;

	.article-date {
		.blue-header;
	}
}

#main > article .article-content {
	float: left;
	//width: @left-column - @article-footer-width;
	width: 540px;
	padding-left: 22px;
	padding-right: 20px;
	border-left: 1px solid darken(@main-beige, 10%);
	position: relative;
}
#main > article .article-content:before {
	content: ' ';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	position: absolute;
	border-left: 1px solid lighten(@main-beige, 10%);
}
#main > article .article-content h1 {
	font-size: 20px;
}

#main > .comments {
	border-top: 1px solid darken(@main-beige, 10%);
	position: relative;
	padding-top: 35px;

	&:before {
		content: ' ';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	
		position: absolute;
		border-top: 1px solid lighten(@main-beige, 10%);
	}

	h1 {
		.blue-header;		
	}

	article.comment {
		background-color: lighten(@main-beige, 4%);

		img, .comment-content, footer, .sep {
			display: inline-block;
		}
		img {
			.abs-center;
		}
		div.img-wrap {
			position: relative;
			display: inline-block;
			background-image: url('img/commenter-bg.jpg');
			width: 75px;
			height: 75px;
		}

		footer {
			.name {
				font-size: 20px;
				font-weight: bold;
			}

			.sep:before {
				content: '|';
				font-size: 20px;
				font-weight: bold;
				display: inline-block;
				color: @main-gray;
			}
		}
	}

	.comment.level-2 {
		background-color: inherit;

	}
}

#main #insert-comment {
	border-top: 1px solid darken(@main-beige, 10%);
	position: relative;
	padding-top: 45px;

	&:before {
		content: ' ';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	
		position: absolute;
		border-top: 1px solid lighten(@main-beige, 10%);
	}
}