/* main */
#main {
	width: @left-column;
	background-color: @main-beige;
	margin: 31px 0 0 0;
	display: inline-block;
	padding-top: 23px;
}
#main > article {
	margin-bottom: 36px;
}
#main > article footer > section,
#main > article footer > div,
#main > article footer > span {
	text-align: right;
}

#main > article footer {
	height: 100%;
	width: @article-footer-width;
	float: left;

	padding-right: 15px;
	margin-top: 57px;
}
#main > article footer .article-date {
	.blue-header;
}

#main > article .article-content {
	float: right;
	width: @left-column - @article-footer-width;
	padding-left: 22px;
	border-left: 1px solid darken(@main-beige, 10%);
	position: relative;
}
#main > article .article-content:before {
	content: ' ';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	position: absolute;
	border-left: 1px solid lighten(@main-beige, 10%);
}
#main > article .article-content h1 {
	font-size: 20px;
}

#main > .comments {
	border-top: 1px solid darken(@main-beige, 10%);
	position: relative;
	padding-top: 35px;

	h1 {
		.blue-header;		
	}

	article.comment {
		img, .comment-content, footer {
			display: inline-block;
		}

		background-color: lighten(@main-beige, 4%);
	}

	.comment.level-2 {
		background-color: inherit;

	}


}
#main > .comments:before {
	content: ' ';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	position: absolute;
	border-top: 1px solid lighten(@main-beige, 10%);
}

#main #insert-comment {
	border-top: 1px solid darken(@main-beige, 10%);
	position: relative;

}
#main #insert-comment:before {
	content: ' ';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	position: absolute;
	border-top: 1px solid lighten(@main-beige, 10%);
}