/* side panel */
#main-wrapper > aside {
	float: right;
	width: @right-column;
	display: inline-block;
	margin-top: 46px;

}
#main-wrapper > aside section h1 {
	.blue-header;
}
#main-wrapper > aside form {
	background-color: @main-blue;
	width: 240px;
	height: 31px;
	position: relative;

	input {
		display: inline-block;
		background-color: #eee;
		position: absolute;
		top: 5px;
		left: 5px;

		width: 195px;
		height: 21px;
		//margin: 5px 12px 0 4px;
	
	}
	button{
		display: inline-block;
		margin: 0px 0 0 0px;
		position: relative;
		top: 7px;
		right: 6px;
	}

}
#main-wrapper #newsletter {
	text-align: right;
}
#main-wrapper > aside #newsletter label {
	color: @main-blue;
}

#main-wrapper > aside section {
	margin-top: 40px;

	font-size: 0.7em;
	color: darken(@main-gray, 15%);
	h1 {
		margin-bottom: 30px;
	}
	div.external-link {
		border-bottom: 1px solid #ece8e8;
		margin-bottom: 18px;
		padding-bottom: 20px;

		h1 {
			font-family: Tahoma, sans-serif;
			font-weight: normal;
			font-size: 1.1em;
			margin-bottom: 7px;
		}
		img {
			display: inline-block;
			
			.abs-center;

			width: 51px;
			height: 51px;
		}
		.img-wrap {
			position: relative;
			float: left;
			width: 61px;
			height: 61px;
			background-color: @main-blue;
			margin-right: 20px;

		}
	}
}