@body-color: white;
@main-beige: #ebe4de;
@main-blue: #44afc2;

@left-column: 700px;
@right-column: 240px;

@footer-column: 220px;
@contact-form: 240px;

// reset
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
header > .corner-links {
	background-color: @main-blue;
	display: block;
	margin-left: 20px;
}
.temp (@color){
	border: 1px dashed @color;
}

body {
	background-color: @body-color;
}
#main-wrapper {
	width: 960px;
	margin: 0 auto;

	.temp(green);
}

#main {
	width: @left-column;
}
header {
	height: 230px;
	width: 100%;

	.temp(gray);
}
body > aside {
	float: right;
	width: @right-column;

	.temp(blue);
}


